* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--font-size-paragraph);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-family: inherit;
}

h1,
h2 {
  margin: 0;
  font-family: var(--font-secondary);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
}

.app {
  font-family: "Quicksand";
}
