* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
}

.app {
  font-family: "Quicksand", sans-serif;
}
